{% extends "base.html" %}
{% block head %}
<style>
    html, body {
        border: 0;
        padding: 0;
        margin: 0;
    }
    html > * {
        box-sizing: border-box;
    }
    #main {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: center;
        margin: auto;
    }
    .project-link {
        width: 250px;
        height: 250px;
        overflow: hidden;
        display: block;
        padding: 0.5em;
    }

    .project-image {
        max-height: 250px;
    }
</style>
{% endblock head %}
{% block content %}
    {% for page in pages %}
        <a href="/page?name={{page.project.name}}" class="project-link">
                <img src="{{page.project.name}}/img/{{page.project.images | first}}" alt="{{page.meta.title}}" class="project-image" />
        </a>
    {% endfor %}
{% endblock content %}