{% extends "base.html" %}
{% block head %}
<style>
    #main {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: center;
        margin: auto;
    }
    .project-link {
        width: 25vw;
        height: 25vw;
        overflow: hidden;
        display: block;
        margin: 10px;
    }

    .project-image {
        height: 25vw;
        filter: grayscale(100);
    }
    .project-image:hover {
        filter: none;
    }
    #twozerooneseven-st-paul-prize-competition > img:hover {
        filter: sepia(1) hue-rotate(165deg);
    }
</style>
{% endblock head %}
{% block content %}
    {% for page in pages %}
        <a id="{{page.project.name | replace(from=" ", to="-") | convert_numeric | lower}}" href="/portfolio/{{page.project.name}}/index.html" class="project-link">
                <img src="portfolio/{{page.project.name}}/img/{{page.project.images | sort | first}}" alt="{{page.meta.title | escape}}" class="project-image" />
        </a>
    {% endfor %}
{% endblock content %}